* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: rgba(122, 115, 115, 0.836);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

body {
    background-size: cover;  
    background-image: url("../img/pokemonbg.jpg");
    background-repeat: no-repeat;
    
}

.nav-primary {
    align-items: center;
    display: flex;
    height: 50px;
    background-color: rgba(44, 133, 44, 0.589);
    padding: 10px;
}

.nav-pokelist {
    background-color: rgba(133, 72, 44, 0.589);
}

.link-pages {
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: 10px;

}

main {
max-width: 60vw;
padding: 70px;
background-image: linear-gradient(to right, rgba(180, 226, 161, 0.589) , rgba(243, 243, 243, 0.87), rgba(236, 243, 230, 0.705));
min-height: 100vh;
justify-content: center;
align-items: flex-start;
}

.main-pokelist {
    background-image: linear-gradient(to right, rgba(226, 181, 161, 0.589) , rgba(243, 243, 243, 0.87), rgba(236, 243, 230, 0.705));
}


.group {
    width: 100%;
    max-width: 500px;
}

.pokeName {
    font-size: 2.5rem;
    display: inline-block;
}


.pokeAbility {
    font-size: 1.2rem;
    line-height: 1.6;
}

.poke-title {
    display: flex;
    align-items: center;
    justify-content: start;

}

input {
    position: relative;
    padding: 12px 30px;
    font-size: 16px;
    color: #999;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    width: 80%;
    z-index: 0;
}
    
.btn {
    color: white;
    background-color: rgb(18, 173, 64); 
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    z-index: 1;
    position: relative;
    left: -50px;
    cursor: pointer;
}

/* POKE LIST */ 

.removeTask {
	position: absolute;
	right: 15px;
	top: 20px;
	cursor: pointer;
}

.list-group-item {
	padding: 10px;
	cursor: pointer;
    position: relative;
    list-style: none;
    width: 82%;
}





